.detalhesEvento {
    box-shadow: 0px 0px 5px gray;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
}

.formConvidado {
    box-shadow: 0px 0px 5px gray;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

.tableConvidado {
    width: 50%;
}

.formEvento {
    box-shadow: 0px 0px 5px gray;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 10px;
}